body {
    background-color: antiquewhite;
    width: 750px;
    margin: 75px auto;
    font-size: 22px;
}

.text-bolt {
    font-weight: bold;
}

.title-song {
    margin-left: 20%;
}

.text-song {
    font-style: italic;
    margin-left: 20%;
}

.audio {
    margin-top: 50px;
    margin-left: 4%;
    margin-bottom: 0px;
}

.audio2 {
    width: 600px;
    margin-bottom: 30px;
}


.end {
    font-size: 20px;
}


.foto {
    text-align: center;
    margin-top: 50px;
}

.foto_Chester_Bennington {
    display: block;
    width: 100%;
    margin: 0px auto;
    border-radius: 2%; 
}

footer {
    margin-bottom: 300px;
}


@media (max-width: 800px){
    body {
        font-size: 18px;
        width: 90%;
        background-color: orange;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title-song {
        margin-left: 10%;
    }
    
    .text-song {
        font-style: italic;
        margin-left: 10%;
    }

    .audio2 {
        width: 90%;
    }
}