body {
    width: 900px;
    background-color: bisque;
    margin: 0px auto; 
    font-size: 20px;  
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 26px; 
}

img {
    width: 40%;
    border-radius: 2%;
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

.text-italic {
    font-style: italic;
}

.text-bolt {
    font-weight: bold;
}

.div1 {
    margin-left: 20%;
}

.end {
    margin-bottom: 300px;
}



@media (max-width: 800px){
    body {
        width: 95%;
        background-color: orange;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        width: 95%;
    }
}