body {
    display: grid;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 25% 1fr;
    grid-gap: 4px;
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    font-size: 32px;
    padding-top: 30px;
    background: url(../images/header.jpg);
    background-position: center;     
    background-repeat: no-repeat; 
    background-color: black; 
}

.Linkin_Park {
   margin-left: 10%;
   margin-top: 3%;
   color: antiquewhite;
}

main {
    grid-area: main;
    background-color: black;
    font-size: 22px;
    padding-left: 5%;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.article1 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article1 :visited {
    color: antiquewhite;
}

.article2 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article2 :visited {
    color: antiquewhite;
}

.article3 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article3 :visited {
    color: antiquewhite;
}

.article4 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article4 :visited {
    color: antiquewhite;
}

.article5 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article5 :visited {
    color: antiquewhite;
}

.article6 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article6 :visited {
    color: antiquewhite;
}

.article7 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article7 :visited {
    color: antiquewhite;
}

.article8 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article8 :visited {
    color: antiquewhite;
}

.article9 {
    margin-top: 10px;
    font-size: 22px;
    color: antiquewhite;
}

.article9 :visited {
    color: antiquewhite;
}


footer {
    font-size: 21px;
    background-color: antiquewhite;
    grid-area: footer;
    text-align: center;
    padding-top: 30px;
}




aside {
    font-size: 21px;
    background-color: black;
    grid-area: aside;
}

.p_1 {
    color: aqua;
    text-align: center;
    margin-top: 70px;
}

.images {
    border-radius: 2%;
    margin-top: 250px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.conteiner_one .nine{
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
}

.conteiner_one .twelve {
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
}
*/
.end {
    margin-bottom: 300px;
}







@media (max-width: 1000px){

    header {
        font-size: 18px;
    }

    main {
        font-size: 18px;
    }

    aside {
        font-size: 18px;
    }

    .article1, .article2, .article3, .article4, .article5, .article6, .article7, .article8, .article9 {
        font-size: 18px;
    }

    footer {
        background-color: orange;
        font-size: 18px;
    }
}


@media (max-width: 500px){

    header {
        font-size: 18px;
    }

    main {
        font-size: 16px;
    }

    aside {
        font-size: 18px;
    }

    .article1, .article2, .article3, .article4, .article5, .article6, .article7, .article8, .article9 {
        font-size: 16px;
    }

    .images {
        margin-top: 125px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .conteiner_one .twelve {
        width: 99%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .conteiner_one .nine{
        width: 99%;
        margin-left: 0%;
        margin-right: 0%;
    }

     .conteiner_one .eight {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .conteiner_one .one {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }



    footer {
        background-color: orange;
        font-size: 18px;
    }
}




