body {
    width: 1000px;
    background-color: bisque;
    margin: 0px auto;
    font-size: 21px;   
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 26px; 
}

.p_Two {
    text-align: left;
    font-size: 20px;
    margin-top: 70px;
}

.p_Two2 {
    margin-top: 70px;
    margin-bottom: 0px;
}

.p_Two3 {
    font-style: italic;
    font-size: 20px;
    margin-top: 0px;
}

.video_three {
    margin: 70px auto;
    border-radius: 2%;
    width: 95%;
}

.end {
    margin-bottom: 300px;
}


@media (max-width: 1000px){
    body {
        width: 95%;
        background-color: orange;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    h1 {
        font-size: 18px;
    }

    .p_Two {
        font-size: 18px;
        width: 95%;
    }

    .video_three {
        width: 90%;
    }
}

@media (max-width: 500px){ 
   .p_Two {
        font-size: 16px;
    }
}